torch==2.7.0
torchvision==0.17.2
tensorboard==2.16.2
tqdm==4.66.2
numpy==1.26.4
pandas==2.2.1
Pillow==10.3.0
matplotlib==3.8.4
scikit-learn==1.4.2
seaborn==0.13.2
streamlit==1.45.0
tensorflow==2.19.0
opencv-python==4.11.0
